
<% flash.each do |message_type, message| %>
<%= message %>
<% end %>


<h2><strong>Books</strong></h2>
<table>
  <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    <!--５列のうち、後ろの３列を結合する⇨colspan=3である。-->
  </tr>
    <!--trは、row(１列を表す)-->

  <tr>
  <td><%= link_to book.title, book_path(book.id) %></td>
  <td><%= link_to book.body, book_path(book.id) %></td>
  <td><%= link_to "Show", "https://422f3abef127440ea144a5818debabb8.vfs.cloud9.ap-northeast-1.amazonaws.com/books/:id" %></td>
  <td><%= link_to "Edit", "https://422f3abef127440ea144a5818debabb8.vfs.cloud9.ap-northeast-1.amazonaws.com/books/books/:id/edit" %></td>
  <td><%= link_to "Destroy", "https://422f3abef127440ea144a5818debabb8.vfs.cloud9.ap-northeast-1.amazonaws.com/books" %></td>
  </tr>
</table>

<% @books.each do |book| %>
<% end